body{
  margin: 0;
  padding: 0; 
}

:root{
  --bg-color: #E7AE00;
  --sec-color: #070500;
  --fn-color: #FFF;
}

form{
  background-color: var(--bg-color);
  color: var(--fn-color);
  font-size: 25px;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 20px;
}

input[type=text]{
  width: 75%;
  height: 32px;
  float:left;
  font-size: 20px;
  border: 1px solid var(--sec-color);
}

.btn{
  background-color: var(--sec-color);
  color: var(--fn-color);
  float: left;
  width: 20%;
  height: 36px;
  font-size: 20px;
	line-height: 29px;
	cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
}

.add-task:after {
  content: "";
  display: table;
  clear: both;
}

.add-task{
  width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
}


ol{
  font-size: 20px;
  width: 75%;
  margin: 0 auto;
  padding-left: 70px;
}

.close{
  all: unset;
  width: 23px;
  height: 23px;
  background-color: var(--bg-color);
  border-radius: 50% 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
  color: var(--fn-color);
  text-align: center;
  font-size: 23px;
  line-height: 23px;
}



li{
  position: relative;
  margin-bottom: 10px;
  padding-right: 30px;
}

.currentTask{
  width: 20px;
  height: 20px;
  border: 1px solid var(--bg-color);
  position: absolute;
  left: -72px;
  top: 0;
  text-align: center;
  line-height: 18px;
}